:root {
  --primary: #66F1D9;
  --secondary: #343E3D;
  --ternary: #607466;
  --primary_alt: #AEDCC0;
  --dark: #111111;
  --light: #fff;
  --border-light: #ddd;
}

body {
  background-color: #f5f5f5;
  color: var(--secondary);
  font-family: 'Fira Sans', sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 100vw;
  padding: 0 1rem;
}

.content {
  min-height: calc(100vh - 332px);
}

.no-bullet {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: var(--secondary);
  text-decoration: none;
}

.news-item__content a,
a:hover {
  border-bottom: 3px solid var(--primary);
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 1200px;
  }

  .container--960 {
    max-width: 960px;
  }
}

@media only screen and (min-width: 1232px) {
  .container {
    padding: 0;
  }
}
