.tutorial__grid {
  display: grid;
  grid-gap: 2rem;
}

.tutorial__tools {
  grid-row: 2;
}

.tutorial__tools img {
  height: 40px;
  width: 40px;
}

@media only screen and (min-width: 768px) {
  .tutorial__grid {
    grid-template-columns: 250px 1fr;
  }

  .tutorial__tools {
    grid-row: 1;
  }
}
