.footer {
  background-color: #111;
  margin-top: 2rem;
}

.footer > .container {
  display: grid;
  grid-template-columns: 1fr;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.footer-box__newsletter {
  grid-column: 1 / -1;
  grid-row: 1;
}

.footer-box__copyright {
  border-top: 1px solid #ccc;
  grid-column: 1 / -1;
  margin-top: 2rem;
  padding-top: 2rem;
}

.footer-box h3,
.footer-box p,
.footer li {
  color: #FFFFFF;
  margin-top: 0;
}

.footer p {
  font-size: 0.75rem;
  margin: 0;
}

@media only screen and (min-width: 768px) {
  .footer > .container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (min-width: 1025px) {
  .footer > .container {
    grid-template-columns: 1fr 1fr 1fr 500px;
  }

  .footer-box__newsletter {
  grid-column: 4;
  }
}
